body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.comWidth {width: 1000px; margin-left: auto; margin-right: auto;}

.leftArea {float: left;}

.rightArea {float: right;}
